* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: rgb(63, 44, 44);
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0;
  position: fixed;
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid rgb(252, 247, 247);
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f9f1f1;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: rgb(63, 44, 44);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: rgb(63, 44, 44);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

@media (min-width: 390px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.moto {
  animation-name: moto;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes moto {
  0% {
    transform: translate(0px, 0px);
    transform: rotate(-45deg);
  }
  50% {
    transform: translate(300px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
