* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: rgb(63, 44, 44);
}

.header {
  background-color: rgb(234, 224, 224);
  box-shadow: 1px 1px 4px 0;
  position: fixed;
  width: 100%;
  z-index: 5000;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgb(246, 234, 234);
}

.header li a {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  border-right: 1px solid rgb(252, 247, 247);
  text-decoration: none;
  z-index: 1000;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f9f1f1;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: rgb(63, 44, 44);
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: rgb(63, 44, 44);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.moto {
  animation-name: moto;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes moto {
  0% {
    transform: translate(0px, 0px);
    transform: rotate(-45deg);
  }
  50% {
    transform: translate(300px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.banniere {
  width: 100%;
  height: 500px;
  background-image: url(images/plage.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  box-shadow: 0px 4px 4px #1c1a19;
  z-index: 250;
}
.banniere img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button {
  position: absolute;
  top: 60%;
  right: 0;
  color: yellow;
  border: 2px solid #f0fe28;
  z-index: 500;
  text-decoration: none;
  border-radius: 5px;
}
.pres {
  text-align: center;
  padding: 10px 10px 10px 10px;
  background-color: rgb(213, 212, 211);
  margin-top: 10px;
  border-radius: 25%;
}
footer {
  border-top: 2px dashed #000;
  width: 100%;
  background-color: #f9f1f1;
  color: #333;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
footer ul li a img {
  margin-right: 0.5rem;
}
footer ul li a i {
  display: none;
}

@media screen and (min-width: 500px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  footer ul li a i {
    display: inline;
  }
  .container-card .card {
    width: calc(100% / 3);
    margin-bottom: 0;
  }
}

/* friends */
.container-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-card .card {
  margin-top: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}
.container-card .card img {
  width: 100%;
  height: auto;
}
